beautifulsoup4
chardet
enum34
google
google-generativeai
keyboard
requests
mediapipe
numpy
opencv-python
pathlib
pillow
pyautogui
pygetwindow
pytesseract
python-dotenv
python-vlc
realtimestt
selenium

protobuf==3.20.*
tensorflow==2.17.0
torch==2.3.1
torchaudio==2.3.1
